
@charset "utf-8";
/*
Author Name: Ayush Sharma
College: Arya College Of engineering & IT.
Find eme at:
ayush.sharma469@gmail.com
www.github.com/ayusharma
 */
body {
	margin:0;
	padding:0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	max-width:100%;
	min-width:800px;
}
.full_status {
	width:800px;
	height:50px;
	margin:auto;
}
.status {
	padding:5px;
	width:auto;
	height:40px;
	float:right;
	background-color:#333;
	border:0px;
	border-radius:5px;
	display:none;
}
.status_image {
	width:40px;
	height:40px;
	float:left;
}
.status_image img {
	border:0;
	border-radius:5px;
}
.status_name {
	width:auto;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	padding-top:10px;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#333;
	margin:0;
	padding:0;
}

a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	
}
	
a:link {
	color:#333;
	text-decoration:none;
}
a:visited {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#09F;
	text-decoration:none;
}
a:active {
	color:#333;
	text-decoration:none;
}

hr {
	width:800px;
}

header img {
	
	display:block;
	margin:auto;
}

header {
	width:800px;
	height:70px;
	padding-top:10px;
	padding-bottom:10px;
	margin:auto;
	
}
header nav ul {
	margin:0px;
	padding:0px;
	float:right;
}
header nav ul li {
	list-style:none;
	display:block;
	float:left;
	text-align:center;
	margin:0px;
	font-size:10px;
	border:0px;
	border-radius:5px;
	padding:10px;
}

header ul li:nth-child(1){
	background-color:#333;
	
}
header ul li:nth-child(1) a{
	color:#fff;
}
.HeaderTitle {
	width:250px;
	height:70px;
	float:left;
	
}
nav {
	width:550px;
	padding-top:30px;
	height:40px;
	float:left;
	font-size:40px;
	font-weight:bold;
	color:#db1d18;

	
	
}
.heading {
	width:100%;
	margin-top:20px;
	text-align:center;
}

.menu {
	width:582px;
	height:128px;
	margin:50px auto 0px auto;
	cursor:pointer;
	display:none;
}

.menu > div {
	width:128px;
	height:128px;
	float:left;
	
}
.menu > div:nth-child(1) {
	margin-left:10px;
	margin-right:5px;
}
.menu > div:nth-child(2),.menu div:nth-child(3) {
	margin-left:10px;
	margin-right:10px;
}
.menu > div:nth-child(4) {
	margin-left:5px;
	margin-right:10px;
}
.roll {
	width:128px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color:#000;
	position:relative;
	top:-30px;
	z-index:5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	display:none;
	opacity:0.7;
}